@font-face {
    font-family: "flaticon";
    src: url("./fonts/flaticon.ttf")
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-cloud:before {
    content: "\f101";
}
.flaticon-cloudy:before {
    content: "\f102";
}
.flaticon-frost:before {
    content: "\f103";
}
.flaticon-moon:before {
    content: "\f104";
}
.flaticon-rain:before {
    content: "\f105";
}
.flaticon-sun-1:before {
    content: "\f106";
}
.flaticon-sun:before {
    content: "\f107";
}
