@font-face {
  font-family: 'Jersey';
  src: url('./fonts/jersey.ttf');
}

* {
  background-color: black;
  color: white;
  font-family: "sans-serif" ;
  /* border: 1px solid green; */
}


body {
  display: flex;
  margin: 0;
}

.container {
  display: flex;
  /* border: 1px solid red; */
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 20px;
  padding-top: 1vh;
  height: 90vh;
  width: 100%;
}

.row {
  display: flex;
}

.spacer {
  /* border: 1px solid yellow; */
}

.date-time-bar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  /* border: 1px solid blue; */
}

#date {
  font-family: "herculanum" ;
  font-size: 5vh;
}

#time {
  font-size: 20vh;
  font-family: "jersey";
  text-align: right;
}

#positiveMessage {
  flex: 0.75;
  font-family: "optima";
  font-style: italic;
  font-size: 5vh;
}

.art {
  font-family: monospace;
  font-size: 0.5vh;
  text-shadow: -1px 0,  0 1px,  1px 0,  0 -1px; /*fake bold*/
  margin-right: 20px;
}