@font-face {
  font-family: 'Jersey';
  src: url('./fonts/jersey.ttf');
}

* {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  display: flex;
  margin: 100px 0 0 0 ;
  padding: 0;
  border: 1px solid red;
  height: 2360px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

/* spacing */
.mt10{
  margin-top: 10px
}

/* text */

.text-header {
  font-size: 24px;
}

.text-subheader {
  font-size: 38px;
}

.text-small {
  font-size: 12px;
}

.italic {
  font-style: italic;
}

/* Reusable */

.row {
  display: flex;
}

.right-aligned {
  align-items: flex-end;
  justify-content: space-between;
}

.bordered {
  border: 1px solid blue;
}

.spacer {
  /* border: 1px solid yellow; */
}

.text-right {
  text-align: right;
}


/* Date Time */

.date-time-bar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

#date {
  font-size: 70px;
}

#time {
  font-size: 200px;
  font-family: "jersey";
  text-align: right;
}


/* Messages */

#positiveMessage {
  font-family: "optima";
  font-style: italic;
  font-size: 40px;
}

.art {
  font-family: monospace;
  font-size: 6px;
  text-shadow: -1px 0,  0 1px,  1px 0,  0 -1px; /*fake bold*/
  margin-right: 50px;
}


.art-container {
  align-items: center;
}

/* Calendar */

#calendar {
  display: flex;
  flex-direction: column;
}


.up-next-box {
  margin-bottom: 100px;
}

.up-next-box > .event-start-relative {
  font-size: 36px;
}

.up-next-box > .event-name {
  font-size: 80px;
}

.up-next-box > .event-date-start {
  font-size: 36px;
}

ul {
  list-style-type: none;
}

.calendar-event {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid white;
  padding: 10px 0 10px 0;
}

.calendar-event:first-child {
  border-top: 1px solid white;
}

.datecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 140px;
  padding: 10px 0;
}

.datebox {
  font-size: 40px;
  text-transform: uppercase;
} 
.monthbox {
  font-size: 14px;
  text-transform: uppercase;
} 

.timebox {
  font-size: 14px;
  text-transform: uppercase;
} 

.event-name {
  font-size: 35px;
}
