* {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  margin: 100px 0 0 0;
  padding: 0;
  /* border: 1px solid red; */
  height: 2360px;
  font-family: "HK";
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 70px 60px 60px 40px; /* To align in the mirror frame */
}

/* spacing */
.mt10 {
  margin-top: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

/* text */
.text-1 {
  font-size: 210px;
}

.text-2 {
  font-size: 60px;
  text-transform: uppercase;
}

.text-3 {
  font-size: 40px;
  text-transform: uppercase;
}

.text-normal {
  font-weight: 100;
}

/* Reusable */

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid yellow; */
}

.row-reverse {
  flex-direction: row-reverse;
}

.row > div:first-child {
  text-align: left;
}

.row > div:last-child {
  text-align: right;
}

.row-reverse > div:first-child {
  text-align: right;
}

.row-reverse > div:last-child {
  text-align: left;
}

.row-top {
  align-items: flex-start;
}

.column {
  display: flex;
  flex-direction: column;
  /* border: 2px solid green; */
  align-items: center;
  justify-content: space-around;
}

.right-aligned {
  align-items: flex-start;
  justify-content: space-between;
}

.spacer {
  /* border: 1px solid yellow; */
}

/* Date Time */

.date-time-bar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 80px;
}
/* Messages */

#positiveMessage {
  font-size: 40px;
}

.art {
  font-family: monospace;
  font-size: 6px;
  text-shadow: -1px 0, 0 1px, 1px 0, 0 -1px; /*fake bold*/
  margin-right: 50px;
}

.art-container {
  align-items: center;
}

/* Calendar */

#calendar {
  display: flex;
  flex-direction: column;
}

#event-list {
  width: 600px;
}

.up-next-row {
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.up-next-row.row-reverse {
  justify-content: flex-end;
}

.up-next-box > .event-start-relative {
  font-size: 30px;
}

.up-next-box > .event-name {
  font-size: 60px;
}

.up-next-box > .event-date-start {
  font-size: 30px;
}

ul {
  list-style-type: none;
}

.calendar-event {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.calendar-event:first-child {
  /* border-top: 1px solid white; */
}

.datecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 140px;
  padding: 10px 0;
}

.datebox {
  font-size: 40px;
  text-transform: uppercase;
}
.monthbox {
  font-size: 24px;
  text-transform: uppercase;
}

.timebox {
  font-size: 30px;
  text-transform: uppercase;
}

.eventcontainer {
  width: 100%;
}
.event-name {
  text-transform: uppercase;
  font-size: 30px;
}

/* Weather */

.weather-row {
  display: flex;
  align-items: flex-start;
}

.forecast {
  margin: 0 40px;
  font-size: 180px;
  margin-top: 50px;
}

.weather-row {
  margin-bottom: -50px; /* Needed to shrink bottom padding */
}

#weather-prompt {
  font-size: 50px;
  max-width: 800px;
}

.temperature {
  font-size: 250px;
}

#precip-icon {
  margin: 10px 20px;
  font-size: 60px;
}

.hidden {
  display: none;
}

.high-low-row {
  margin-bottom: -20px;
}

.feels-like {
  font-size: 70px;
}

#weather-forecast {
  width: 500px;
}

.forecast-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px;
  text-decoration: bold;
  text-align: center;
  padding: 5px 0;
}

.forecast-row > * {
  width: 250px;
}

.forecast-row > div:last-child {
  text-align: center;
}

.forecast-row > i {
  font-size: 40px;
}

.push-down {
  flex: 10;
}

/* MLB */

#mlb-row {
  align-items: center;
  margin: 50px 200px;
}

.team-logo {
  /* filter: grayscale(100%); */
  max-width: 100px;
  max-height: 100px;
}

#fun-container {
  display: flex;
  flex-direction: column;
}

#fun-container.reversed {
  flex-direction: column-reverse;
}
